.chair_list{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.chair_item{
    width: 40%;
    display: flex;
    gap: 10px
}
.chair_barcode_icon{
    display: flex;
    align-items: center;
    font-size: 25px;
}
.chair_description{
    font-size: 14px;
    font-weight: 700;
}
/* MODAL */
.modal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
   
}
.hiden{
    display: none;
}